.sprint {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.sprint .body {
    margin-bottom: 10px;
}

.sprint .footer {
    border-top: 1px solid black;
}

.sprint .footer .btn {
    margin-right: 20px;
    margin-top: 20px;
}

.sprint .footer .btn:last-child {
    margin-right: 0;
}

fieldset {
    border-top: 1px dashed black;
    cursor: pointer;
}

fieldset legend {
    font-size: 10px;
    cursor: pointer;
}

.priority {
    height: auto;
}

i {
    margin-right: 5px;
}