.sprint {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.sprint .body {
    margin-bottom: 10px;
}

.sprint .footer {
    border-top: 1px solid black;
}

.sprint .footer .btn {
    margin: 10px;
}

.sprint .footer .btn:last-child {
    margin-right: 0;
}

fieldset {
    border-top: 1px dashed black;
    cursor: pointer;
}

fieldset legend {
    font-size: 10px;
    cursor: pointer;
}

.priority {
    height: auto;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-header {
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.modal-body {
    padding: 16px;
    overflow-y: auto;
}

.modal-body label {
    color: rgb(97, 106, 114);
}

.modal-footer {
    justify-content: center;
}

.createSprintModal .create {
    height: 350px;
    padding: 10px;
    overflow-y: auto;
}

.editSprintModal .edit {
    height: 370px;
    padding: 10px;
    overflow-y: auto;
}

.createSprintModal .create textarea {
    width: 100%;
    height: 100px;
}

.editSprintModal .edit textarea {
    width: 100%;
    height: 100px;
}

.radio {
    position: relative;
    padding-left: 35px;
    margin-right: 10px;
    margin-bottom: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio:hover input~.checkmark {
    background-color: #ccc;
}

.radio input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked~.checkmark:after {
    display: block;
}

.radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.btn i {
    margin-right: 5px;
}

.createSprintButton i {
    margin: 0;
}